html, body {
    margin: 0; 
    padding: 0;
  }

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-evenly;
    padding: 0 16px;
    margin: 0px;
    align-items: baseline;
    
}

h3 {
    color: #f9faf8;
    font-size: 24px;
}

ul {
    list-style-type: none;
    display: flex;
    color: #e5e7eb;
    font-size: 18px;
    gap: 8px;

}

.links {
    display: flex;
    align-content: flex-start;
}

.hero {
    display: flex;
    background-color: #1F2937;
    justify-content: space-evenly;
    align-items: center;   
    padding-top: 48px; 
    padding-bottom: 48px;
    width: 100%;
}

.hero-main {
    color:#f9faf8;
    font-size: 48px;
}

.hero-text {
    display: flex;
    flex-direction: column;
    width: 30%;
    gap: 2px;
    flex-shrink: 0;
    
    
}

.hero-secondary {
    color: #e5e7eb;
}

button {
    background-color: #3882F6;
    border: none;
    padding: 8px;
    font-size: 16px;
    color: #f9faf8;
    width: 100px;
    border-radius: 8px;
    margin: 6px 0;
}

.placeholder {
    background-color: gray;
    height: 100
    padding: 8px;
    flex-grow: auto;
    
}