html, body {
    margin: 0; 
    padding: 0;
  }

body {
    font-family: 'Roboto', sans-serif;
}

.top-container {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    margin: auto;
}

.header {
    display: flex;
    justify-content: space-evenly;
    padding-top: 16px;
    align-items: baseline;
    padding-bottom: 32px;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

ul {
    list-style-type: None;
    display: flex;
    color: #f9faf8;
    gap: 12px;
}

.hero {
    display: flex;
    justify-content:space-evenly;
}

.hero-text {
    color:#f9faf8;
    display: flex;
    flex-direction: column;
    max-width: 300px;
    gap: 6px;
}

.hero-main {
    font-size: 48px;
}